.posts-settings {
  display: flex;
  justify-content: right;

  label {
    padding-right: 5px;
    padding-left: 25px;
  }
}

.posts-list {
  ol {
    margin-top: 50px;

    li {
      padding-top: 30px;
      padding-bottom: 20px;
      padding-right: 20px;
      margin-bottom: 20px;
      border-right: 1px solid @blue;

      &:hover {
        background-color: #ffffff10;
      }

      a {
        display: flex;
        justify-content: space-between;

        &:visited {
          color: @white;
        }

        h3,
        p {
          margin-bottom: 0;
        }

        .post-info {
          display: flex;
          flex-direction: column;

          span {
            padding-right: 10px;
          }

          .title {
            color: @bright-blue;
          }

          .primary-author {
            color: @yellow;
          }

          .primary-tag {}

          .visibility {}

          .time-ago {}
        }

        .status {
          display: flex;
          flex-direction: column;
          justify-content: center;

          &.draft {
            color: @red;
          }

          &.published {
            color: @green;
          }

        }

      }
    }
  }
}