.posts-settings {
  display: flex;
  justify-content: right;

  label {
    padding-right: 5px;
    padding-left: 25px;
  }
}

.posts-list {
  ol {
    margin-top: 50px;

    li {
      .post-list-item;

      a {
        .post-info {
          display: flex;
          flex-direction: column;

          span {
            padding-right: 10px;
          }

          .title {
            color: @bright-blue;
          }

          .primary-author {
            color: @yellow;
          }
        }

        .status {
          display: flex;
          flex-direction: column;
          justify-content: center;

          &.draft {
            color: @red;
          }

          &.published {
            color: @green;
          }

        }

      }
    }
  }
}