.editor-header {
  display: flex;
  justify-content: space-between;

  .save-button,
  .settings-toggle {
    border: none;
    padding-left: 0;
    padding-right: 0;
  }

  .settings-right {
    display: flex;
    justify-content: center;
  }
}